/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme .footer {
    background-color: var(--container-color);
}

/*========== Button Dark/Light ==========*/
.theme-button {
  position: fixed;
  right: 3.5rem;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  z-index: var(--z-fixed);
  cursor: pointer;
}
