/*=============== CONTACT ===============*/
.contact {
    &__container {
        padding-bottom: 3rem;
    }

    &__description {
        text-align: center;
    }

    &__data {
        row-gap: 1rem;
    }

    &__address {
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
}